
*{
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
/* navbar design */
.navbar{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid;
}
.nav-features, .button{
     display: flex;
    justify-content: center;
    align-items: center;
}
.features{
    display: flex;
    gap: 30px;
    font-weight: 500;
    list-style: none;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
 border: 1px solid;
}
#nav-button{
    width: 164px;
    height: 45px;
    font-weight: 600;
    font-style: semi-bold;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border: none;
    border-radius: 5px;
}
/* banner design */
.banner{
    background: url('./assets/hero-bg.png'), rgba(0, 25, 49, 0.8);
    height: 600px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.outer-circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #30b9697c;
    width: 14px;
    height: 14px;
}
.inner-circle{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #30B868;
}
.early-access-btn{
    border-radius: 100px;
    padding: 8px 10px;
    background-color: white;
    color: #30B868;
    font-weight:500;
    line-height: 19px;
}