*{
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.navbar{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid;
}
.nav-features, .button{
     display: flex;
    justify-content: center;
    align-items: center;
}
.features{
    display: flex;
    gap: 30px;
    font-weight: 500;
    list-style: none;
    border: 1px solid;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
}
#nav-button{
    width: 164px;
    height: 45px;
    font-weight: 600;
    font-style: semi-bold;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border: none;
    border-radius: 5px;
}