*{
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.navbar{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid;
}
.nav-features, .button{
     display: flex;
    justify-content: center;
    align-items: center;
}
.features{
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    border: 1px solid;
}